/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --background-color: #000028;
  --background-img: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --title-color: #DB00FF;
  --title-shadow-color: var(--accent-color);
  --main-text-color: #F1B2CE;
  --menu-color: var(--accent-color);
  --hover-color: rgba(255, 0, 112, 0.40);
  --title-shadow-color: var(--accent-color);
  --box-heading-color: var(--background-color);
  --box-background-color: var(--accent-color);
  --heading-color: var(--accent-color);
}

.page.theme_dark .header__rec {
  visibility: visible;
}