/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  
  background: var(--background-img) no-repeat top center;
  background-attachment: fixed;
  background-color: var(--background-color);
}

.header {
  position: relative;
  padding: 0 10px;
}

.header__rec {
  position: absolute;
  color: var(--accent-color);
  text-transform: uppercase;
  top: 10px;
  right: 38px;
  line-height: 25px;
}

.header__rec::after {
  content: "";
  margin-left: 10px;
  position: absolute;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0px 0px 4px 3px var(--accent-color);
  top: 35%;
  
}

.decorated-zone::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: 10px;
  top: 10px;
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
}

.decorated-zone::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 10px;
  bottom: 10px;
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
}

.header__theme-menu-list {
  padding-top: 76.5px;
  display: flex;
  flex-direction: column;
  gap: 11.5px;
  align-items: flex-end;
}

.header__theme-menu-button {
  color: var(--accent-color);
  line-height: 18px;
  padding: 4px 12px;
  text-transform: lowercase;
  border: transparent;
  background: none;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title-container {
  padding-bottom: 66px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}

.header__title {
  color: var(--title-color);
  text-shadow: 4px 4px 0px var(--title-shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}

.subtitle {
  background: var(--box-background-color);
  color: var(--box-heading-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 23.4px;
}

.main {
  padding: 0 10px;
}

.content {
  margin-block-start: 50px;
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.content:first-child {
  margin-block-start: 40px;
}

.content__title {
  color: var(--heading-color);
  font-weight: 700;
  line-height: 23.4px;
}

.content__article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.content__article-text {
  line-height: 23.4px;
  color: var(--main-text-color);
}

.thin-text {
  font-weight: 400;
}

.content__link {
  text-decoration: none;
  line-height: normal;
  text-shadow: 3px 3px 0px var(--accent-color);
}

.content__link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.content__link:focus {
  outline: 1px solid var(--main-text-color);
}

.content__images {
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
}

.content__image {
  width: 100%;
}

.footer {
  margin-block-start: 40px;
  position: relative;
  padding: 286px 10px;
}

.footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--title-shadow-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  line-height: 82.5%;
}