/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #ff0070;
  --main-text-color: #F1B2CE;
  --menu-color: var(--accent-color);
  --decor-color: var(--accent-color);
  --title-shadow-color: var(--accent-color);
  --box-heading-color: var(--background-color);
  --box-background-color: var(--accent-color);
  --heading-color: var(--accent-color);
}